<div class="box-container">
    <h1>System Role Information</h1>
    <hr />

    <form>
        <label>System Name : </label>
        <mat-select name="systemName" placeholder="Please Choose" [(ngModel)]="systemRole.systemId">
            <mat-option *ngFor="let system of systems" [value]="system.id">
                {{ system.systemName }}
            </mat-option>
        </mat-select>

        <label>Role Name : </label>
        <input type="text" name="roleName" [(ngModel)]="systemRole.roleName" />
    </form>
    <div style="float: right;">
        <button class="btn-add" (click)="submit()" [disabled]="isSubmit">Add <i class="fa-solid fa-plus"></i></button>
    </div><br />

    <br />

    <div class="box-table">
        <h1>List of system roles</h1>
        <!-- <input style="width: 40%;" type="text" [(ngModel)]="term" placeholder="Filter System" /> -->

        <div style="overflow-x: auto;">
            <table style="width: 100%">
                <tr>
                    <th width="30px">No</th>
                    <th style="cursor: pointer;" *ngFor="let column of sortableColumns" scope="col"
                        [attr.data-order]="order" [attr.data-name]="column.columnName"
                        (click)="toggleSort(column.columnName)">
                        {{ column.displayText }}
                    </th>
                    <th width="90px">Action</th>
                </tr>

                <tr *ngIf="isLoading">
                    <td colspan="4">
                        <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
                        </ngx-skeleton-loader>
                    </td>
                </tr>

                <tr *ngIf="systemRoles.length == 0 && !isLoading">
                    <td colspan="4" style="color: red; text-align: center;">No System Role</td>
                </tr>

                <tr
                    *ngFor="let role of systemRoles | paginate: { itemsPerPage: itemPerPage, currentPage: pageNumber }; let i = index">
                    <td style="text-align: center;">{{ (pageNumber - 1) * itemPerPage + i + 1 }}</td>
                    <td style="padding-left:20px;">{{ role.systemName }}</td>
                    <td style="padding-left:20px;">{{ role.roleName }}</td>
                    <td style="text-align: center;">
                        <button (click)="status(role)" [ngClass]="{
                    'active-btn': role.isActive == true,
                    'inactive-btn': role.isActive == false
                  }">
                            {{ role.isActive == true ? "Active" : "Inactive" }}
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <pagination-controls style="text-align: center;" (pageChange)="pageNumber = $event"></pagination-controls>

    </div>






</div>