<div class="sidebar-container">

    <i class="fa fa-user"></i> &nbsp;
    <span>Log in as: </span><br/>
    <span>{{name}}</span>
    <br/>
    <hr>

    <div>
      <button class="side-btn" routerLink="new-requestApplication" routerLinkActive="active">
        Application Request
      </button>
      <hr />
    </div>

    <div *ngIf="isRoleSystemOwner">
    <div>
      <button class="side-btn" routerLink="requested-application" routerLinkActive="active">
        Pending Approval
      </button>
      <hr />
    </div>

    <div>
      <button class="side-btn" routerLink="approved-application-list" routerLinkActive="active">
        List of Approved Application 
      </button>
      <hr />
    </div>
  </div>

    <div *ngIf="isRoleSystemAdmin">
    <div>
      <button class="side-btn" routerLink="approved-application" routerLinkActive="active">
        Pending Assign
      </button>
      <hr />
    </div>

    <div>
      <button class="side-btn" routerLink="report" routerLinkActive="active">
        Report
      </button>
      <hr />
    </div>

    <div>
      <button class="side-btn" style="background-color: cadetblue;" routerLinkActive="active" (click)="toggleUtility()">
        Utilities
        <div style="float: right;">
          <i class="fa" [ngClass]="{'fa-chevron-right': !showUtility, 'fa-chevron-up': showUtility}"
            style="cursor:pointer"></i>
        </div>
      </button>
      <hr />
    </div>

    <div [ngClass]="{'none': !showUtility}">
      <button class="side-btn" routerLink="utility-register-system" routerLinkActive="active">
        Register System
      </button>
      <hr />
    </div>

    <div [ngClass]="{'none': !showUtility}">
      <button class="side-btn" routerLink="utility-register-systemRole" routerLinkActive="active">
        Register System Role
      </button>
      <hr />
    </div>

    <div [ngClass]="{'none': !showUtility}">
      <button class="side-btn" routerLink="utility-register-systemOwner" routerLinkActive="active">
        Register System Owner
      </button>
      <hr />
    </div>
    </div>

  </div>