mat-toolbar {
    background: #004a9f;
    color: white;
}

.toolbar-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.toolbar-logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.toolbar-title {
    display: flex;
    align-items: center;
    font-size: 18px;
}

  
  .content {
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    display: flow-root;
    background-color: ghostwhite;
  }
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }

  .flexExpand {
    flex: 1 1 auto;
  }