<div class="box-container">
    <h1>System Information</h1>
    <hr />

    <form style="columns: 2">
        <label>System Name : </label>
        <input style="width: 40%;margin-left: 10px;" type="text" name="systemName" [(ngModel)]="system.systemName" />
        <div style="margin-left: 10px;">
            <button class="btn-add" (click)="onSubmit()" [disabled]="isSubmit">Add <i class="fa-solid fa-plus"></i></button>
        </div>
    </form><br/>

    <div class="box-table">
        <h1>List of systems</h1>

        <div style="overflow-x: auto;">
        <table style="width: 100%">
            <tr>
              <th width="30px">No</th>
              <th style="cursor: pointer;" *ngFor="let column of sortableColumns" scope="col" 
                [attr.data-order]="order" [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)">
                {{ column.displayText }}
              </th>
              <th width="90px">Action</th>
            </tr>
        
            <tr *ngIf="isLoading">
              <td colspan="3">
                <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
                </ngx-skeleton-loader>
              </td>
            </tr>

            <tr *ngIf="systems.length == 0 && !isLoading">
              <td colspan="3" style="color: red; text-align: center;">No System</td>
            </tr>
        
            <tr
              *ngFor="let system of systems | paginate: { itemsPerPage: itemPerPage, currentPage: pageNumber }; let i = index">
              <td style="text-align: center;">{{ (pageNumber - 1) * itemPerPage + i + 1 }}</td>
              <td style="padding-left:20px;">{{ system.systemName }}</td>
              <td style="text-align: center;">
                <button (click)="status(system)" [ngClass]="{
                    'active-btn': system.isActive == true,
                    'inactive-btn': system.isActive == false
                  }">
                  {{ system.isActive == true ? "Active" : "Inactive" }}
                </button>
              </td>
            </tr>
          </table>
        </div>
        
          <pagination-controls style="text-align: center;" (pageChange)="pageNumber = $event"></pagination-controls>

    </div>






</div>